* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
:root {
  --main-color: #222;
  --main-border: 4px;
}
.container {
  margin: 20px auto;
  width: 1000px;
}
.row {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
}
.game-info .game-name {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: var(--main-border) solid var(--main-color);
  position: relative;
  margin: auto;
}
.hangman-draw .the-stand:before {
  content: "";
  position: absolute;
  width: var(--main-border);
  background-color: var(--main-color);
  height: 100%;
  left: 50%;
  margin-left: -2px;
}
.hangman-draw .the-hang:before {
  content: "";
  position: absolute;
  height: var(--main-border);
  background-color: var(--main-color);
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-hang:after {
  content: "";
  position: absolute;
  width: var(--main-border);
  height: 30px;
  background-color: var(--main-color);
  left: 130px;
  top: 15px;
}
